@charset "URF-8";

/* 
COR A: #22B5BA
COR B: #2EF2FA
COR C: #16777A
COR D: #0B393B
COR E: #28DAE0
*/
body{
    background: #0D1B2A;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
}

#header{
    /*Novamente definimos a largura da div*/
    width:100%;
    /* altura da div */
    height:80px;
    border: none;
    border-bottom: 3px solid #FFF;
    border-top: 3px solid #FFF;
}
#portifolioTitle{
    color: #FFF;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

#conteudo{
    /*Novamente definimos a largura da div*/
    width:100%;
    /* altura da div */
    height:100%;
    /* Cor de fundo da div */
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}
#conteudo-perfil{
    width: 323px;
    height: 974px;
    border-radius: 30px;
    border: 3px solid #415A77;
    background: #1B263B;
    margin-right: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#devImage{
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: #ffffff;*/
}

#meImg{
    width: 180px;
    height: 180px;
    border-radius: 50px;
}

#name{
    color: #FFF;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    padding-bottom: 10px;
    border-bottom: #415A77 solid 3px;
}

#redesSociais{
    text-align: left;
    margin-top: 10px;
}

.iconP{
    width: 60px;
    height: 60px; 
}
.linkP{
    color: #FFF;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin-left: 5px;
}

.linkP:hover{
    font-size: 27px;
    border-bottom: solid 3px aqua;
}

#conteudo-lateral{
    width: 1440px;
    height: 974px;
    border-radius: 30px;
    border: 3px solid #415A77;
    background: #1B263B;
}

.infos{
    position: relative;
    margin-top: 4px;
    margin-bottom: 10px;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
}

.infos li{
    display: inline-block;
    margin-right: 10px;
    margin-left: 0px;
    left: 0;
}

.content{
    background: #415A77;
    color: #FFF;
    position: absolute;
    left: 0;
    padding-left: 20px;
    display: none;
    width: 100%;
}

.infos [id^="part"]:checked~.content{
    display: block;
}

.infos input[type="radio"]{
    display: none;
    background-color: #415A77;
}

.infos label{
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.infos [id^="part"]:checked + label{
    background-color: #415A77;
    font-size: 27px;

}

#footer{
        width:100%;
        height:40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-bottom: 3px solid #FFF;
        border-top: 3px solid #FFF;
        padding: 0px;
        margin: 0px;
}

#rodape{
    text-align: center;
}